<div>
  <h2 class="text-center" style="padding-top: 40px">Submit New Post</h2>
</div>

<div class="container mt-5 w-50">
  <div class="card" style="padding: 20px">
    <form #userNewPost="ngForm" (ngSubmit)="newPost(userNewPost)">
      {{ userNewPost.value | json }}
      <input
        type="text"
        ngModel
        name="content"
        id="content"
        placeholder="Whats on your mind?"
        class="form-control mb-3"
        style="height: 200px; font-size: 32px"
      />

      <input
        type="text"
        ngModel
        name="hyperlink"
        id="hyperlink"
        placeholder="hyperlink"
        class="form-control mb-3"
      />

      <div class="row d-flex justify-content-center">
        <input
          type="submit"
          value="Submit"
          class="btn btn-outline-primary form-control rounded-0 w-25"
        />
      </div>
    </form>
  </div>
</div>
