<button
  type="button"
  class="btn btn-primary btn-lg btn-info"
  routerLink="/newpost"
>
  Submit New Post
</button>

<div>
  <app-post-card
    *ngFor="
      let post of allPost
        | paginate
          : {
              itemsPerPage: itemsPerPage,
              currentPage: page,
              totalItems: totalItems
            }
    "
    [postData]="post"
    [userData]="post.user"
  ></app-post-card>
</div>

<pagination-controls
  class="pagi"
  (pageChange)="gty((page = $event))"
></pagination-controls>
